numpy==1.26.4
nlopt==2.7.1
trimesh==4.4.8
# manifold3d<=2.5.1 # Optional: manifold backend — install with: pip install pylele[manifold]
pillow
shapely
scipy
networkx
pyglet<2
fonttools
# solidpython2<=2.1.1 # for enveloping worm
numpy-stl
packaging
json-tricks
openpyxl
# html-testRunner
prettytable

# b1scad
sly
svgpathtools
# svg2dxf
svg2dxf @ git+https://github.com/multigcs/svg2dxf@main

# Optional Blender backend (bpy) — install with: pip install pylele[blender]
# mathutils==3.3.0; python_version <= '3.11'
# python 3.10
#   bpy==4.0.0; python_version < '3.11'
#   fake-bpy-module-4.0; python_version < '3.11'
# python 3.11
# bpy==4.5.1; python_version == '3.11'
# fake-bpy-module-4.1; python_version == '3.11'

# Optional CadQuery backend (cq) — install with: pip install pylele[cadquery]
# cadquery<=2.4.0

# Optional Build123d backend (bd) — install with: pip install pylele[build123d]
# build123d==0.10.0

# test
pytest
pytest-xdist
