numpy==1.26.4
nlopt==2.7.1
cadquery<=2.5.2
# bpy==4.0.0; python_version < '3.11'
# fake-bpy-module-4.0; python_version < '3.11'
bpy==4.5.1; python_version == '3.11' # blender python API
fake-bpy-module-4.1; python_version == '3.11' # blender python API
trimesh==4.4.8
mathutils
manifold3d<=2.5.1 # 3.0.0 # 3.0.1 causes pylele1 to crash with segmentation fault
pillow
shapely
scipy
networkx
pyglet<2
fonttools
solidpython2<=2.1.1 # for enveloping worm
numpy-stl
packaging
json-tricks
openpyxl
# html-testRunner
prettytable

# b1scad
sly
svgpathtools
# svg2dxf
svg2dxf @ git+https://github.com/multigcs/svg2dxf@main
